<div class="row">
	<div class="span5">
		<div class="tile triple bg-lightBlue">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">CGU e entidades organizam reunião para discutir segurança e vivência na Unicamp</h5>
                <p class="fg-white info-content" align="justify">
                    Dando sequência ao acordado entre a Reitoria e o DCE, a Coordenadoria Geral da Universidade (CGU), em conjunto com as entidades representativas – DCE, STU e ADUNICAMP – organizam reunião aberta à participação da comunidade com o objetivo discutir questões e formular propostas relacionadas à segurança e à vivência nos campis da Unicamp.<br><br>
                    Dia 17. Das 11 às 14h<br>
					No Centro de Convenções da Unicamp
                </p>
            </div>
			<div class="brand">
				<div class="badge newMessage"></div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="tile triple bg-steel">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">Pesquisa na área de deficiência de anticorpos ganha prêmio internacional</h5>
                <p class="fg-white info-content" align="justify">
                    A pesquisa "Expressão do gene da tirosina quinase de Bruton e de sensores do estresse do retículo endoplasmático na agamaglobulinemia ligada ao X" recebeu o prêmio de melhor pôster apresentado durante o 16º Encontro Bienal da Sociedade Europeia para Imunodeficiências, ocorrido em Praga, Repúbica Tcheca, no final de outubro e início de novembro. A pesquisa concorreu com outros trabalhos 1.027 inscritos e ficou entre as dez premiadas. A apresentação foi feita pela professora do Departamento de Pediatria da Faculdade de Ciências Médicas (FCM) da Unicamp Maria Marluce Vilela, orientadora da tese de doutorado defendida em fevereiro de 2014 pela bióloga Vanessa Domingues Ramalho.
                </p>
            </div>
			<div class="brand">
				<div class="badge alert"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="tile triple bg-green">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">Francisco Gomes Neto é o novo diretor do Imecc</h5>
                <p class="fg-white info-content" align="justify" style="">
                    Os professores Francisco de Assis Magalhães Gomes Neto e Carlile Campos Lavor tomaram posse na manhã desta quarta-feira (12) como diretor e diretor associado, respectivamente, do Instituto de Matemática, Estatística e Computação Científica (Imecc) da Unicamp, para o cumprimento de um mandato de quatro anos. Eles substituem a Caio José Colletti Negreiros e Verónica Andrea González-López. A solenidade de transmissão dos cargos, presidida pelo reitor José Tadeu Jorge, ocorreu no auditório do próprio Imecc, que ficou pequeno por causa do grande público presente, constituído por docentes, alunos, funcionários e convidados.
                </p>
            </div>
			<div class="brand">
				<div class="badge attention"></div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="tile triple bg-darkCyan">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">Inclusão na Universidade é tema de fórum na UNICAMP</h5>
                <p class="fg-white info-content" align="justify" style="">
                    Discutir as políticas públicas de acesso à universidade, com foco nas cotas e ações afirmativas, é o objetivo do Fórum Inclusão e Diversidade, que será realizado na Unicamp no dia 13 de novembro, das 9 às 17h30. Organizado pelo Fórum Pensamento Estratégico (Penses) e professores do Instituto de Filosofia e Ciências Humanas (IFCH) e do Instituto de Estudos da Linguagem (IEL) da Unicamp, o evento vai reunir acadêmicos, movimentos sociais e autoridades governamentais para debater experiências e políticas de inclusão social implantadas nas instituições brasileiras, com especial atenção às demandas das universidades públicas paulistas. 
                </p>
            </div>
			<div class="brand">
				<div class="badge available"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="tile triple bg-red">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">Francisco Gomes Neto é o novo diretor do Imecc</h5>
                <p class="fg-white info-content" align="justify" style="">
                    Os professores Francisco de Assis Magalhães Gomes Neto e Carlile Campos Lavor tomaram posse na manhã desta quarta-feira (12) como diretor e diretor associado, respectivamente, do Instituto de Matemática, Estatística e Computação Científica (Imecc) da Unicamp, para o cumprimento de um mandato de quatro anos. Eles substituem a Caio José Colletti Negreiros e Verónica Andrea González-López. A solenidade de transmissão dos cargos, presidida pelo reitor José Tadeu Jorge, ocorreu no auditório do próprio Imecc, que ficou pequeno por causa do grande público presente, constituído por docentes, alunos, funcionários e convidados.
                </p>
            </div>
			<div class="brand">
				<div class="badge attention"></div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="tile triple bg-darkEmerald">
			<div class="tile-content" style="padding: 10px;">
                <h5 class="fg-white">Inclusão na Universidade é tema de fórum na UNICAMP</h5>
                <p class="fg-white info-content" align="justify" style="">
                    Discutir as políticas públicas de acesso à universidade, com foco nas cotas e ações afirmativas, é o objetivo do Fórum Inclusão e Diversidade, que será realizado na Unicamp no dia 13 de novembro, das 9 às 17h30. Organizado pelo Fórum Pensamento Estratégico (Penses) e professores do Instituto de Filosofia e Ciências Humanas (IFCH) e do Instituto de Estudos da Linguagem (IEL) da Unicamp, o evento vai reunir acadêmicos, movimentos sociais e autoridades governamentais para debater experiências e políticas de inclusão social implantadas nas instituições brasileiras, com especial atenção às demandas das universidades públicas paulistas. 
                </p>
            </div>
			<div class="brand">
				<div class="badge available"></div>
			</div>
		</div>
	</div>
</div>